.p-imageViewer {
    height: 100vh;
    background-color: var(--color-imageViewer);


    &__nav {
        position: absolute;
        padding: $base;

        img {
            width: 2em;
            opacity: 0.6;
            cursor: pointer;
        }
    }

    &__content {
        
        
    }

    &__image {
        background-color: var(--color-imageViewer);
        text-align: center;
        

        img {
            max-height: 100vh;
            max-width: 100%;
            vertical-align: bottom;

            @media screen and (min-width: $bp-medium) {
                max-height: 90vh;
                padding: $base 0;
            }

            @media screen and (min-width: $bp-large) {
                max-height: 92vh;
                padding: $larger 0;
            }
        }
    }

    &__meta {
        background-color: var(--color-imageViewer);
        margin: 0;
        text-align: center;

        &-text {
            display: inline-block;
            padding-top: 0;
            padding-bottom: $base;
            text-align: left;

            h2 {
                margin: $smallest;
            }

            &-time {
                padding-left: $small;
            }

            p {
                max-width: $bp-small;
                margin: $small;
            }
        }
    }
}
