<!DOCTYPE html>
<html>
{{ block "head" . }}
    {{ partial "head" . }}
{{ end }}
<body>
    <div class="u-grid">
        
        <div class="o-header u-contain u-grid__header">
            {{ block "header" . }}
            <div class="logo"><a href="/"><img src="/logoMain.png" class="logo__main"></a></div> 
            {{/*  <div class="logo"><h1>Benjamin Brinckmann</h1></div>  */}}
            <div class="m-nav o-imageViewer__nav"><p>benjamin@brinckmann.no</p><p>+47 48 45 06 69</p></div>
            {{ end }}
        </div>
    
        {{ block "main" . }}
        <div class="o-gallery o-main u-contain u-grid__main">          
        
        {{ with .Site.GetPage "section" "portfolio" }}
        
            {{ range .Pages }}
            {{ $singleURL := .RelPermalink }}
            {{ $title := .Title }}
            {{ $span := .Params.span }}

                {{ .Content }}
                
                {{ with .Resources.GetMatch "main.jpg" }}
                    {{ $image := . }}
                    {{ $resized := .Resize "650x q75" }}
                    {{ $resizedXL := .Resize "1054x q65" }}

                <div class="o-gallery__item{{ with $span }} -span-{{.}}{{end}}">
                    <a href="{{ $singleURL }}"><img src="
                        {{- if eq $span 4 }}
                        {{ $resizedXL.RelPermalink }}
                        {{ else }}
                        {{ $resized.RelPermalink }}
                        {{ end }}
                        " alt="{{ $title }}"></a>
                </div>
                {{ end }}

            {{ end }} 

        {{ end }}
        </div>
        {{ end }}

        <div class="o-footer u-contain u-grid__footer">
            {{ block "footer" . }}
            <div class="o-footer__text">
                <p>benjamin@brinckmann.no</p>
                <p>+47 48 45 06 69</p>
            </div>
            {{ end }}
        </div>

    </div>
</body>
</html>