.o-footer {
    margin-top: $large;
    text-align: center;
    background-color: grey;
    min-width: 100%;
    padding: 0.3em 0;

    &__text {
        font-weight: 500;
        padding: 0;
        display: block;
    }
    
    @media screen and (min-width: $bp-small) {
        grid-area: footer;
    }
}