.o-gallery {
    @media screen and (min-width: $bp-small) {
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-auto-rows: auto;
        grid-auto-flow: row;
        gap: $base;
    }

    &__item {
        display: inline-block;
        width: 100%;
        vertical-align: bottom;

        img {
            width: 100%;
            box-shadow: #dddddd 1px 1px 5px;
        }

        @media screen and (min-width: $bp-small) {
            grid-area: span 2 / span 2;
            max-height: 20em;
            object-fit: cover;
        }

        &.-span {
            &-1 {
                border: 3px solid green;
                grid-area: span 2 / span 2;
            }

            &-2 {
                border: 3px solid red;
                grid-area: span 1 / span 2;
            }
        }
    }
}
