.o-imageViewer {
    @media screen and (min-width: $bp-small) {
        grid-template:
            "image" auto
            "meta" auto
            / auto;
    }

    @media screen and (min-width: $bp-medium) {
        grid-template:
            "image meta" auto
            / auto;
    }

    &__image {
        img {
            display: block;
            width: 100%;
        }

        @media screen and (min-width: $bp-small) {
            grid-area: image;
        }
    }

    &__meta {
        padding: $base;
        background-color: lightgrey;
        margin: 0;

        @media screen and (min-width: $bp-small) {
            grid-area: meta;
        }
    }
}
