.o-listGalleries {
    position: relative;
    display: grid;
    max-width: 100%;

    &__merInfo {
        text-align: center;
    }

    &__category {
        text-align: center;
        
        @media screen and (min-width: $bp-small) {
            text-align: left;
            margin-left: $base;
        }
    }
}