body {
    // min-height: 100vh;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;

    @media screen and (min-width: $bp-medium) {
        font-size: $large;
    }
}

html, body {
    height: 100vh;
}