$bp-small: 36em;
$bp-medium: 48em; // 768px
$bp-large: 62em; // 992px
$bp-full: 80em; // 1280px

$smallest: 0.625em;
$smaller: 0.75em;
$small: 0.875em;
$base: 1em;
$large: 1.25em;
$larger: 1.5em;
$largest: 1.75em;

:root {
    --color-imageViewer: #dee2e6;

    --color-main-h: 213; // Hue
    --color-main-s: 31%; // Saturation
    --color-main-l: 50%; // Light

    --color-alt-h: 213;
    --color-alt-s: 44%;
    --color-alt-l: 61%;

    --color-alt-hsl: var(--color-alt-h), var(--color-alt-s), var(--color-alt-l);
    --color-alt: hsl(var(--color-alt-hsl));

    --color-main-hsl: var(--color-main-h), var(--color-main-s), var(--color-main-l);
    --color-main: hsl(var(--color-main-hsl));

}