$bp-small: 36em;
$bp-medium: 48em; // 768px
$bp-large: 62em; // 992px
$bp-full: 80em; // 1280px

$smallest: 0.625em;
$smaller: 0.75em;
$small: 0.875em;
$base: 1em;
$large: 1.25em;
$larger: 1.5em;
$largest: 1.75em;

:root {
    --color-imageViewer: #dee2e6;
}