.u-grid {

    @media screen and (min-width: $bp-small) {
        display: grid;
        grid-template:
            "header" auto
            "main" 1fr
            "footer" auto
            / auto;

        &__header {
            display: grid;
            grid-template:
                "logo" 1fr
                "nav" 1fr
                / 1fr;
        }

        &__main {
            display: grid;
        }

        &__footer {
            display: grid;
        }
    }

    @media screen and (min-width: $bp-medium) {
        &__header {
            grid-template:
                "logo nav" / 
                240px 1fr;
        }
    }

}
